/* Zet de paginabackground op body, niet op ieder element (verhindert witte blokken) */


body {
  background-color: var(--color-background, #ffffff);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "national-condensed-bold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5em;
  line-height: .88;

}


h2 {
  font-size: 3rem;
  line-height: .88;
}

h3 {
  font-size: 1.5rem;
  line-height: .88;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}




main section:nth-of-type(1) {
  display: flex;
  flex-direction: column;


}

main section:nth-of-type(1) p {}

/* Eerste sectie (rode) */
main section:nth-of-type(1) {
  background-color: #e4002b;
  color: white;
  padding: 4rem 1.5rem 6rem;
  /* extra ruimte onder */
  position: relative
}

main section:nth-of-type(1) img {
  display: block;
  width: 90%;
  max-width: 20em;

  position: relative;
  margin: 0 auto;
  margin-bottom: -11em;
  box-shadow: 0 0 20px #0003;
}






main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;


  background-color: white;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;

}


main section:nth-of-type(2) h3 {
  color: var(--color-kfc-red);

}


main section:nth-of-type(2) img {

  width: 90%;

  justify-content: center;

  position: relative;



}

main section:nth-of-type(2) a {

  justify-content: center;
  display: flex;
  background-color: black;
  color: var(--color-font-light);
  width: 100%;
  /* 16px = 1rem, 24px = 1.5rem (assuming default root font-size 16px) */
  padding: 1rem 1.5rem;
  /* 9999px -> 9999 / 16 = 624.9375rem */
  border-radius: 624.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;

  margin-bottom: 2em;

}








main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-kfc-red);

  padding-right: 2rem;
  padding-left: 2rem;
}


main section:nth-of-type(3) h2,
main section:nth-of-type(3) h3,
main section:nth-of-type(3) p,
main section:nth-of-type(3) a {
  color: var(--color-font-light);
}



main section:nth-of-type(3) a {

  justify-content: center;
  display: flex;
  background-color: black;
  color: var(--color-font-light);
  width: 100%;
  /* 16px = 1rem, 24px = 1.5rem (assuming default root font-size 16px) */
  padding: 1rem 1.5rem;
  /* 9999px -> 9999 / 16 = 624.9375rem */
  border-radius: 624.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;

  margin-bottom: 2em;

}









main section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  position: relative;


  padding-right: 2rem;
  padding-left: 2rem;
}



main section:nth-of-type(4) h3 {
  color: var(--color-kfc-red);
}


main section:nth-of-type(4) img {}


main section:nth-of-type(4) a {

  justify-content: center;
  display: flex;
  background-color: black;
  color: var(--color-font-light);
  width: 100%;
  /* 16px = 1rem, 24px = 1.5rem (assuming default root font-size 16px) */
  padding: 1rem 1.5rem;
  /* 9999px -> 9999 / 16 = 624.9375rem */
  border-radius: 624.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;

  margin-bottom: 2em;

}

/* De afbeelding in de tweede sectie */